*{
    box-sizing: border-box;
}
body{
    font-family: Roboto;
    margin: 0;
    padding: 0;
}
ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.content-box-sm{
    padding: 40px 20px;

}
.content-box-md{
    padding: 80px 20px;
}
.content-box-lg{
    padding: 120px 0;
}
a{
  text-decoration: none;  
  display: inline-block;
}
li{
    position: relative;
}
img{
    width: 100%;
    display: block;
}
.container{
    width: 100%;
    max-width: 1200px;
    /* max-width: 1100px; */
    margin: 0 auto;
}
.topbar{
    background-color: #2B3D53;
}
.topbar .topbar-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.topbar .topbar-content .info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}
.topbar .topbar-content p{
    display: inline;
    padding: 10px 7px;
    margin: 7px 3px;
    color: rgba(255, 255, 255, 0.3);
}
.topbar .topbar-content a{
    color: rgba(255, 255, 255, 0.3);
}

.topbar .topbar-content p:hover{
    background-color: rgba(255, 255, 255, 0.3);
    color: #2B3D53;
}
.topbar .topbar-content .detail{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
@media screen and (max-width: 671px){
    .topbar .topbar-content{
        justify-content: center;
    }
    .topbar .topbar-content .info{
        justify-content: center;
    }
}
@media screen and (max-width: 430px){
    .topbar .topbar-content p{
        display: inline;
        padding: 7px 7px;
        margin: 3px 3px;
        color: rgba(255, 255, 255, 0.3);
    }
}
.menu-bar{

}
.menu-bar .menu-bar-wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px 5px;
}
.menu-bar .menu-bar-wrap .menus ul li{
    display: inline;
}
.menu-bar .menu-bar-wrap .menus ul li{
    margin: 7px 5px;
    padding: 7px 8px;
    transition: color, background-color .2s ease-in-out;
}
.menu-bar .menu-bar-wrap .menus ul li:hover{
    background-color: rgba(0,0,0,0.5);
}
.menu-bar .menu-bar-wrap .menus ul li a{
    color: #2f3f54;
    transition: color .2s ease-in-out;

}
.menu-bar .menu-bar-wrap .menus ul li:hover a{
    color: white;
}
.menu-bar .openBtn{
    width: 40px;
    height: 40px;
    display: none;
    margin-right: 20px;
}
.menu-bar .openBtn svg{
    width: 100%;
    height: 100%;
}
.menu-bar .menu-closeBtn{
    width: 35px;
    height: 35px;
    display: none;
    margin: 10px 15px;
}
.menu-bar .menu-closeBtn svg{
    width: 100%;
    height: 100%;
    fill: white;
}
@media screen and (max-width: 890px){
    .menu-bar ul.dropdown{
        background: rgba(0,0,0,0.7);
        width: 300px;
        height: 100vh;
        position: fixed;
        top:125px;
        left: 0;
        text-align: center;
        padding: 0;
        transform: translateX(-300px);
        transition: transform .5s ease-in-out;
        z-index: 3;
    }
    .menu-bar ul.dropdown.active{
        transform: translateX(0px);
    }
    .menu-bar .menus ul.dropdown li{
        display: block;
        padding: 10px 20px;
    }
    .menu-bar .menus ul.dropdown li a{
        color: white;
    }
    .menu-bar .menu-closeBtn, .openBtn{
        display: block;
    }
    .menu-bar .openBtn{
        display: block;
    }
}
@media screen and (max-width: 671px){
    .menu-bar ul.dropdown{
        top: 184px;
    }
}
.home{
    /* background-image: url("//assets/imgs/bg-img.jpg");
    background-size: cover;
    background-position: center; */
    position: relative;
    background-image: url("../imgs/bg-img.jpg");
    width: 100%;
    min-height: 80vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    z-index: 1;
}
.home .overlay{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #0004ff;
    opacity: 0.6;
    z-index: 2;
}
.home .home-wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    z-index: 5;
    color: white;
}
.home .home-wrap .content{
    width: 100%;
    max-width: 50%;
}
.home .home-wrap .content h1{
    font-size: 48px;
    font-weight: 900;
    line-height: 1.08;
    margin: 0;
}
.home .home-wrap .content h4{
    margin: 0;
    margin-top:5px;
    margin-bottom: 25px;
}
.home .home-wrap .content p{
    font-family: Lato;
  font-size: 16px;
}
.home .home-wrap .content .icons p::before{
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 489 489' style='enable-background:new 0 0 489 489;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M0,437.825v-345.6c0-13.5,10.9-24.4,24.4-24.4h255.1h51.3l-48.7,48.7h-2.6H48.7v296.9h296.9v-53.3v-72.8l48.7-48.7v121.5v77.7c0,13.4-10.9,24.4-24.4,24.4H24.4C10.9,462.225,0,451.325,0,437.825z M212.1,250.825l-52-52c-14.6-14.6-38.3-14.6-52.9,0c-7.1,7.1-11,16.5-11,26.5s3.9,19.4,11,26.4l78.4,78.4c14.6,14.6,38.3,14.6,52.9,0L478,90.625c7.1-7.1,11-16.5,11-26.4c0-10-3.9-19.4-11-26.5c-14.6-14.6-38.3-14.6-52.9,0L212.1,250.825z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 7px;    
    
}
.home .home-wrap .content .btn{
    margin: 20px 0 30px 0;
}
.home .home-wrap .content .btn a.g-btn{
    color: white;
    padding: 10px 30px;
    border-radius: 34px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.1);
    transition: .25s ease-in-out;
}
.home .home-wrap .content .btn a.g-btn:hover{
    color: black;
    background-color: white;
    border: 1px solid rgba(255, 255, 255, 0.1);

}
.home .home-wrap .imgs{
    width: 100%;
    max-width: 50%;
    position: relative;
}
.home .home-wrap .imgs .rs{
    background-color: white;
    padding: 40px 20px;
    color: black;
    display: inline-block;
    border-radius: 50%;
}
.home .home-wrap .imgs .rs h1{
   font-size: 54px;
}
.home .home-wrap .imgs .rs h1::before{
    content: "Starting at ";
    font-size: 11px;
    width: 100%;
    height: 100%;
    vertical-align: text-top;
    
}
.home .home-wrap .imgs .rs h1::after{
    content: "/month ";
    font-size: 11px;
    width: 100%;
    height: 100%;
    vertical-align: text-bottom;
    
}
.home .home-wrap .imgs img{
    width: 100%;
    object-fit: cover;
}
@media screen and (max-width: 610px){
    .home .home-wrap .content{
        max-width: 100%;
        text-align: center;
    }
    .home .home-wrap .imgs{
        max-width: 100%;
        margin-top: 30px;
        text-align: center;
    }
    .home .home-wrap .imgs .rs{
        padding: 20px 10px;
        margin-bottom: 30px;
    }
    
}
.services .inner{
    width: 100%;
    max-width: 1000px;
    margin: -200px auto 0 auto;
    border-radius: 2px;
    box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);
    position: relative;
    z-index: 9999;
    background-color: white;
    text-align: center;
}
.services .inner .inner-wrap{
    /* position: relative; */
    display: flex;
    margin: 0 auto;
    max-width: 750px;

}
.services .inner .inner-wrap input{
    width: 100%;
    padding: 20px 12px;
    font-size: 20px;
    outline: none;
    box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);
    background-color: #ffffff;
    border: none;
}
.services .inner .inner-wrap button{
    padding: 24px 30px;
    border: none;
    /* position: absolute;
    top: 1.4px;
    right: 1px; */
    color: white;
    font-size: 14px;
    background-color: #2076E8;
    vertical-align: middle;
    outline: none;
    cursor: pointer;
}
.services .inner .para{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0 0 0;
}
.services .inner .para p{
    margin-right: 20px;
    font-weight: bold;
}
.services .inner .para p:first-child{
    color: #2575e7;
}
.services .inner .para p:nth-child(2){
    color: #28aa15;
}
.services .inner .para p:nth-child(3){
    color: #ea3700;
}
.services .inner .para p:nth-child(4){
    color: #0076c8;
}
.services .inner .para p:nth-child(5){
    color: #00e2aa;
}
.services .inner .para p:last-child{
    /* color: #2575e7; */
    margin-left: 40px;
}
@media screen and (max-width: 575px){
    .services .inner .inner-wrap{
        display: block;
    }
    .services .inner .inner-wrap button{
        margin-top: 30px;
        padding: 10px 20px;
    }
    .services .inner .inner-wrap input{
        font-size: 13px;
    }
}
.services .services-wrap{
    display: flex;
    flex-wrap: wrap;
    /* align-items: bottom; */
}
.services .services-wrap .content{
    width: 100%;
    max-width: 50%;
    padding: 0 12px;
    background-color: #217BEA;
    color: white;
    padding: 30px 20px;
    position: relative;
}
.services .services-wrap .content::before{
    content: "";
    width: 100%;
    height: 100%;
    max-width: 105px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
}
.services .services-wrap .content h1{
    font-size: 40px;
    padding-left: 148px;
}
.services .services-wrap .content h3{
    font-size: 20px;
}
.services .services-wrap .content .box-content p{
    margin: 0;
    font-size: 14px;
    line-height: 1.71
}
.services .services-wrap .content .box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 25px;
}
.services .services-wrap .content .box .box-img{
    width: 100%;
    max-width: 30%;
    position: relative;
    z-index: 9999;
}
.services .services-wrap .content .box .box-img img{
    object-fit: contain;
    width: 32px;
    height: 37px;
    /* margin: 0 auto; */
}
.services .services-wrap .content .box .box-content{
    width: 100%;
    max-width: 70%;
    /* padding-left: 35px; */
}
.services .services-wrap .services-heading{
    width: 100%;
    max-width: 50%;
    /* padding: 0 12px; */
    padding-left: 35px;
}
.services .services-wrap .services-heading h1{
    font-size: 40px;
}
.services .services-wrap .services-heading h1 span{
    color: #267ae9;
    line-height: 1.25;
    font-weight: bold;
}
.services .services-wrap .services-heading p{
    font-size: 14px;
    line-height: 1.71;
}
.services .services-wrap .services-heading p span{
    color: #267ae9;
    font-weight: bolder;
}
@media screen and (max-width: 767px){
    .services .services-wrap .content{
        max-width: 100%;
    }
    .services .services-wrap .content h1{
        font-size: 30px;
        margin: 9px 0 0 0;
        padding-left: 90px;
    }
    .services .services-wrap .services-heading{
        max-width: 100%;
        margin-top: 20px;
    }
    .services .services-wrap .services-heading h1{
        font-size: 30px;
    }
    .services .services-wrap .content::before{
        max-width: 60px;
    }
}
@media screen and (max-width: 450px){
    .services .services-wrap .content h1{
        font-size: 27px;
        margin: 9px 0 0 0;
        padding-left: 80px;
    }
    .services .services-wrap .content::before{
        display: none;
    }
    .services .services-wrap .content .box{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px auto;
    }
    .services .services-wrap .content .box .box-img{
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .services .services-wrap .content .box .box-img img{
        margin: 0 auto;
    }
    .services .services-wrap .content .box .box-content{
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
    }
}
.offers{
    background-color: #FAFAFA;
}
.offers .inner{
    background-color: white;
}
.offers .inner .inner-wrap{
    display: flex;
    flex-wrap: wrap;
}
.offers .inner .inner-wrap .box{
    width: 100%;
    max-width: 33.3%;
    margin: 0 auto;
    padding: 10px 10px 0 10px;
}
.offers .inner .inner-wrap .box img{
    width: 84px;
    height: 84px;
    margin: 0 auto;
}
.offers .inner .inner-wrap .box h1{
    text-align: center;
    margin-top: 20px;
}
@media screen and (max-width: 450px){
    .offers .inner .inner-wrap .box{
        max-width: 80%;
        margin-bottom: 20px;
    }

}
.offers .offer-wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.offers .offer-wrap .content{
    width: 100%;
    max-width: 50%;
    padding-right: 20px;
}
.offers .offer-wrap .content h1{
    font-size: 40px;
}
.offers .offer-wrap .content h1 span{
    color: #207AEA;
}
.offers .offer-wrap .content p{
    line-height: 1.71;
    font-family: Lato;
    font-size: 14px;
}
.offers .offer-wrap .content p span.red{
    color: #E84C3B;
    font-weight: bold;
}
.offers .offer-wrap .content P span.green{
    color: #A2E7DC;
    font-weight: bold;

}
.offers .offer-wrap .content .para{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.offers .offer-wrap .content .para p{
    width: 100%;
    max-width: 50%;
    padding: 0 10px;
    font-family: Roboto;
    font-size: 20px;
    line-height: 1.1;
}
.offers .offer-wrap .content .para p::before{
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 517.062 517.062' style='enable-background:new 0 0 517.062 517.062;' xml:space='preserve'%3E%3Ccircle style='fill:%23207AEA;' cx='256' cy='258.531' r='256'/%3E%3Cpath style='fill:%23207AEA;' d='M499.43,179.284c-7.25-22.287-17.449-43.228-30.172-62.362l-224.087,233.4l0.451,25.974l10.578-0.067L499.43,179.284L499.43,179.284z'/%3E%3Cpath style='fill:%23F8F8F8;' d='M512.389,103.303l-45.65-45.102c-6.231-6.159-16.338-6.159-22.569,0L249.032,259.202l-84.152-83.149c-6.241-6.159-16.338-6.159-22.574,0l-40.463,39.982c-6.231,6.154-6.231,16.138,0,22.292l135.06,133.432c3.599,3.558,8.479,4.992,13.169,4.439c4.69,0.548,9.569-0.881,13.169-4.439l249.149-246.159C518.62,119.441,518.62,109.462,512.389,103.303L512.389,103.303z'/%3E%3Cpath style='fill:%23EBEBEB;' d='M263.24,371.76l249.149-246.159c6.231-6.159,6.231-16.138,0-22.298l-7.45-7.363L248.648,348.024L107.5,210.439l-5.652,5.591c-6.231,6.154-6.231,16.138,0,22.292L236.902,371.76c3.599,3.558,8.479,4.992,13.169,4.439C254.761,376.752,259.64,375.324,263.24,371.76L263.24,371.76z'/%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    margin-right: 10px;
    vertical-align: middle;
    width: 23px;
    height: 23px;
    display: inline-block;
    /* fill: #207AEA; */
}
.offers .offer-wrap .content h2 span{
    color: #207AEA;
}
.offers .offer-wrap .offer-img{
    width: 100%;
    max-width: 50%;
    padding: 0px 15px;
}
.offers .offer-wrap .offer-img img{
    width: 100%;
    height: 100%;
    padding: 40px 0;
}
@media screen and (max-width: 767px){
    .offers .offer-wrap .content .para p{
        font-size: 15px;
    }
}
@media screen and (max-width: 575px){
    .offers .offer-wrap .content{
        max-width: 100%;
        padding: 0 20px;
    }
    .offers .offer-wrap .offer-img{
        max-width: 100%;
        padding: 0 20px;
    }
}
@media screen and (max-width: 400px){
    .offers .offer-wrap .content .para p{
        max-width: 100%;
        line-height: 0.7;
        padding: 0 5px;
    }
}
.charges .heading{
    text-align: center;
    max-width: 950px;
    margin: 20px auto 50px auto;
}
.charges .heading h1{
    font-size: 40px;
}
.charges .heading h1 span{
    color: #207AEA;
}
.charges .heading p{
    max-width: 630px;
    margin: 20px auto 50px auto;
    font-family: Lato;
    font-size: 16px;
    line-height: 1.57;
}
.charges .heading p span.red{
    color:#E84C3B;
}

.charges .heading p span.green{
    color: #40D7C2;
}
.charges .charges-wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.charges .charges-wrap .box{
    width: 100%;
    max-width: 30%;
    box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);
    overflow: hidden;
    /* color: white; */
    /* border: 1px solid rgb(41, 41, 41); */
    margin: 0 10px;
}
.charges .charges-wrap .box .card{
    padding: 0 40px 0px 40px;

}
.charges .charges-wrap .card span{
    max-width: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 39px;
    background-color: #207AEA;
    border-radius: 0 0 100% 100%;
    color: white;
    font-size: 22px;
    font-weight: bold;
    line-height: 0.62;
    letter-spacing: 1.32px;
    margin-bottom: 50px;
    /* margin: -60px auto 20px auto; */
    margin-top: -215px;
}
.charges .charges-wrap .card img{
    width: 85px;
    height: 60px;
    object-fit: contain;
    margin: 10px auto;
}
.charges .charges-wrap .card .heading{
    text-align: left;
    margin-top: 40px;
}
.charges .charges-wrap .card .heading h1{
    margin: 0;
    color: #217BEA;
}
.charges .charges-wrap .card .heading p{
    font-family: Lato;
    font-size: 14px;
    line-height: 1.71;

}
.charges .charges-wrap .card ul{
    padding-bottom: 50px;

}
.charges .charges-wrap .card ul li{
    font-family: Roboto;
    font-size: 15.5px;
    line-height: 2.35;
}
.charges .charges-wrap .card ul li::before{
    content: "";
    background-image: url("data:image/svg+xml,%0A%3Csvg id='Bold' enable-background='new 0 0 24 24' height='512' viewBox='0 0 24 24' width='512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m.828 13.336c-.261.304-.388.691-.357 1.091s.215.764.52 1.024l7.403 6.346c.275.235.616.361.974.361.044 0 .089-.002.134-.006.405-.036.77-.229 1.028-.542l12.662-15.411c.254-.31.373-.7.334-1.099-.04-.399-.231-.759-.541-1.014l-2.318-1.904c-.639-.524-1.585-.432-2.111.207l-9.745 11.861-3.916-3.355c-.628-.536-1.576-.465-2.115.163z'/%3E%3C/svg%3E");
    width: 20px;
    height: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    margin-right: 10px;
    vertical-align: middle;
    background-size: contain;

}
.charges .charges-wrap button{
    width: 100%;
    padding: 30px 20px;
    border: none;
    background-color: #207AEA;
    color: white;
}
@media screen and (max-width: 991px){
    .charges .charges-wrap .box .card{
        padding: 0 20px 0px 20px;
    
    }
}
@media screen and (max-width: 767px){
    .charges .charges-wrap .box{
        max-width: 90%;
        
        /* color: white; */
        /* border: 1px solid rgb(41, 41, 41); */
        margin-bottom: 40px;

    }
}
.about{
    background-color: #FAFAFA;
}
.about .heading{
    text-align: center;
    font-size: 35px;
    margin-bottom: 60px;
}
.about .heading h1 span{
    color: #207AEA;
}
.about .about-wrap{
    /* display: flex; */
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}
.about .about-wrap .boxes{
    /* width: 100%;
    max-width: 50%; */
    padding: 0 15px;
}
.about .about-wrap .box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;

}
.about .about-wrap .box .box-img{
    width: 100%;
    max-width: 35%;
    height: 100%;
}
.about .about-wrap .box .box-content{
    width: 100%;
    max-width: 65%;
    padding-left: 15px;
}
.about .about-wrap .box .box-content h5 span{
    color: #217BEA;
}
.about .about-wrap ul.slick-dots li button:before {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 3px solid white;
    background-color: rgba(0,0,0,0.7);
}
.about .about-wrap .slick-initialized .slick-slide {
    display: block;
    outline: none;
}
.about .about-wrap ul.slick-dots {
    position: absolute;
    bottom: -29%;
    left: 45%;
    width: auto;
    height: max-content;
}
.about .about-wrap .slick-dotted.slick-slider {
    margin-bottom: 0;

}
.about .about-wrap ul.slick-dots li.slick-active button::before {
    background-color: #0d2481;
}
@media screen and (max-width: 991px){
    .about .about-wrap .boxes{
        width: 100%;
        max-width: 95%;
        padding: 30px 15px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 510px){
    .about .about-wrap .box .box-img{
        width: 100%;
        max-width: 100%;
        height: 100%;
        margin: 0 auto;
    }
    .about .about-wrap ul.slick-dots {
        left: 37%;
        bottom: 0%;
    }
    .about .about-wrap .box .box-content{
        width: 100%;
        max-width: 100%;
        padding-left: 0px;
        margin: 0 auto;

    }
    .about .heading{
        text-align: center;
        font-size: 25px;
        margin-bottom: 50px;
    }
}
.brands .brands-wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.brands .brands-wrap .brand-img{
    width: 100%;
    max-width: 25%;
    padding: 0 10px;
}
.brands .brands-wrap .brand-img img{ 
    object-fit: cover;
    width: 100%;
    max-width: 120px;
    margin: 0 auto;
    filter: grayscale(100%);
    transition: filter .25s ease-in-out;
}
.brands .brands-wrap .brand-img:hover img{
    filter: grayscale(0);

}
@media screen and (max-width: 450px){
    .brands .brands-wrap .brand-img{
        max-width: 50%;
        padding-bottom: 20px;
    }
}
.footer{
    background-color: #314157;
    color: #d0e4ff;
}
.footer .footer-wrap{
    display: flex;
    flex-wrap: wrap;
}
.footer .footer-wrap .logo{
    width: 100%;
    max-width: 30%;
    padding: 0px 10px;
    height: 100%;

}
.footer .footer-wrap .logo .logo-wrap{
    padding-bottom: 20px;
    padding-top: 17px;
    border-bottom: 1px solid #ffffff;
}
.footer .footer-wrap .logo .content{
    padding-top: 20px;
}
.footer .footer-wrap .logo .input-wrap{
    position: relative;
}
.footer .footer-wrap .logo .content input{
    width: 100%;
    padding: 15px 10px;
}
.footer .footer-wrap .logo .input-wrap a{
    background-color: #217BEA;
    padding: 13px 15px;
    position: absolute;
    top: 0;
    right: 0;
}
.footer .footer-wrap .logo img{
    width: 100%;
    max-width: 164px;
}
.footer .footer-wrap .logo svg{
    width: 100%;
    max-width: 18px;
    height: 18px;
    fill: white;

}
.footer .footer-wrap .box{
    width: 100%;
    max-width: 20%;
    padding: 0px 10px;
    height: 100%;

}
.footer .footer-wrap .box p{
    cursor: pointer;
}
.footer .footer-wrap .q-contact{
    width: 100%;
    max-width: 30%;
    padding: 0px 10px;
    height: 100%;
}
.footer .footer-wrap .q-contact input {
    width: 100%;
    padding: 15px 10px;
    background-color: transparent;
    outline: none;
    border: .5px solid #d0e4ff;
    color: #d0e4ff;
    font-size: 14px;
}
.footer .footer-wrap .q-contact input::placeholder {
    color: #d0e4ff;

}
.footer .footer-wrap .q-contact textarea{
    width: 100%;
    background-color: transparent;
    outline: none;
    color: #d0e4ff;
    font-size: 14px;
    border: .5px solid #d0e4ff;
}
.footer .footer-wrap .q-contact textarea::placeholder{
    color: #d0e4ff;
}
.footer .footer-wrap .q-contact button{
    border: none;
    background-color: #217BEA;
    padding: 13px 15px;
    margin-top: -4px;
    color: #d0e4ff;
}
@media screen and (max-width: 767px){
    .footer .footer-wrap .logo{
        max-width: 60%;
    
    }
    .footer .footer-wrap .q-contact{
        max-width: 60%;
        margin-top: 40px;
    
    }
    .footer .footer-wrap .box{
        max-width: 40%;
    
    }
    .footer .footer-wrap .box:nth-child(3){
        margin-top: 40px;

    }
}
@media screen and (max-width: 550px){
    .footer .footer-wrap .logo{
        max-width: 100%;
    
    }
    .footer .footer-wrap .q-contact{
        max-width: 100%;
    
    }
    .footer .footer-wrap .box{
        max-width: 100%;
    
    }
}
.footer-bar{
    background-color: #4B6587;
    padding: 10px 12px;

}
.footer-bar .bar-wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.footer-bar .bar-wrap .info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.footer-bar .bar-wrap .info p{
    margin-left: 20px;
    cursor: pointer;
    transition: color .25s ease-in-out;
}
.footer-bar .bar-wrap .info p:hover{
    color: #F99400;
}
@media screen and (max-width: 767px){
    .footer-bar .bar-wrap{
        justify-content: center;
    }
    .footer-bar .bar-wrap .content{
        text-align: center;
    }
    .footer-bar .bar-wrap .info{
        justify-content: center;
    }

}
.f-white-bar{
    background-color: #d0e4ff;
    color: #4a6385;
}
.f-white-bar .bar-wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.f-white-bar .bar-wrap .bar-img{
    width: 100%;
    max-width: 40%;
}
.f-white-bar .bar-wrap .bar-img img{
    width: 100%;
    max-width: 130px;
}
.f-white-bar .bar-wrap .icons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.f-white-bar .bar-wrap .icons p{
    margin: 0 auto;
}
.f-white-bar .bar-wrap .icons a{
    padding: 0px 2px;
    margin: 6px 9px;

}
.f-white-bar .bar-wrap .icons svg{
    width: 70px;
}
@media screen and (max-width: 820px){
    .f-white-bar .bar-wrap{
        padding-top: 20px;
        justify-content: center;
    } 
    .f-white-bar .bar-wrap .bar-img{
        text-align: center;
        max-width: 100%;
    }
    .f-white-bar .bar-wrap .bar-img img{
        margin: 10px auto;
    }
}
@media screen and (max-width: 480px){
    .f-white-bar .bar-wrap .icons{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }
    .f-white-bar .bar-wrap .icons a{
        padding: 0px 5px;
    
    }
}